# read https://hub.docker.com/_/mysql/
# 

[mysqld]
tls_version=TLSv1.2,TLSv1.3

character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci


# in mysql image VOLUME /var/lib/mysql and any changes to this directory 
# during build process might got lost after the build step is done 
# match db_data in docker-compose
# therefore we us a copy in Dockerfile, no uncomment needed
# datadir     = /initialized-db

#tmpdir          = /tmp

# default 0.0.0.0,  if this is 127.0.0.1 and using docker this restricts listening to only inside container, 
# which does not make sense in docker-compose services 
# skip-networking,
#bind-address = 0.0.0.0

[mysql]
tee=/mysql/log/log.out

[mysqld_safe]

nice            = 0

