# read https://hub.docker.com/_/mysql/
# 

[mysqld]

#
# * Basic Settings
#
#user            = mysql
#pid-file        = /var/run/mysqld/mysqld.pid
#socket          = /var/run/mysqld/mysqld.sock

character-set-server=utf8

# in mysql image VOLUME /var/lib/mysql and any changes to this directory 
# during build process might got lost after the build step is done 
# match db_data in docker-compose

datadir     = /initialized-db

#tmpdir          = /tmp

# default 0.0.0.0,  if this is 127.0.0.1 and using docker this restricts listening to only inside container, 
# which does not make sense in docker-compose services 
# skip-networking,
#bind-address = 0.0.0.0

[mysql]
tee=/mysql/log.out

[mysqld_safe]
#socket          = /var/run/mysqld/mysqld.sock
nice            = 0

