#**

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxPermissionAlreadyExists.vm,v 1.1.1.1 2017-11-26 23:07:21 painter Exp $

*#

<div class="w3-panel w3-red">
The permission name <b>$name</b> is currently is use. Permission
names must be unique, please choose another name.
</div>