#if ( $data.getMessage() )
	#info( $data.getMessage() )
#end

<h1> Secured Access Page </h1>

     
     <p>
         Role: $related.getUserrole()
         
         #if ($user)
           $related.getJson($user,"org.apache.turbine.om.security.User", null, true,"lastLogin")
         #end
     </p>
