<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0    
	 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<!--settings-->
  <!-- localRepository set -->
 <localRepository>/m2repo</localRepository>
 <usePluginRegistry>false</usePluginRegistry>
 <offline>false</offline>
 <pluginGroups>
    <pluginGroup>org.eclipse.jetty</pluginGroup>
 </pluginGroups> 
 <profiles>
	   <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>releases</id>
          <url>https://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
        <repository>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
          <id>snapshots</id>
          <url>https://snapshots</url>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>releases</id>
          <url>https://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
		 <pluginRepository>
         <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
          <id>snapshots</id>
          <url>https://snapshots</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile> 
      <id>repo1</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>Maven Plugin Repository</name>
          <url>https://repo1.maven.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
        </pluginRepository>
     </pluginRepositories> 
    </profile>
  </profiles>
</settings>
